<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="row m-5">
        <div class="col-md-12">
            <h2>CV Database Profile List</h2>
        </div>

    </div>
    {% for profile in profile %}
    <div class="row">
        <div class="col-md-6">
            {{Profile.name}}
        </div>
        <div class="col-md-6">
            <a href="/{{Profile.id}}"class="btn btn-warning">Download CV</a>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>