<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Resume in HTML</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="850" border="0" align="center">
  <tr>
    <td><table width="850" border="0">
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>ACHIVEMENTS</strong></td>
      </tr>
      <tr>
       <td height="17" colspan="2" bgcolor="#FFFFFF"><table width="829" border="0"
        align="center">
         <tr>
           <ul>
             <td width="513"><li>Bagged second prize in district wide Foot Ball
               competition in Tenth </li></td>
           </ul>
         </tr>
         <tr>
           <ul>
             <td><li>Bagged 1st prize in solo singing copmpetition at C.S.N PG and
               Degree College</li></td>
           </ul>
         </tr>
       </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>CO-CURRICULAR ACTIVITIES</strong></td>
        </tr>
      <tr>
        <td colspan="2"><table width="829" border="0" align="center">
          <tr>
            <ul>
              <td width="513"><li>Presented a Paper on &quot;Android&quot; at INSPIRE'12
               in DNR College of Engineering.</li></td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Presented a Paper on &quot;CloudComputing&quot; at GECFEST'11-'12
               in Gudlavalleru Engineering College.</li></td>
            </ul>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>EXTRA CURRICULAR ACTIVITIES</strong></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
          <tr>
            <ul>
              <td width="513"><li>Successfully completed NCC training and attained 'A'
               certificate.</li></td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Successfully completed Group Annual Training Camp of NCC held at
               Nuzvid.</li></td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Participated in Reel Race 2k12, a short film contest conducted at
               Shri Vishnu Educational Society on February, 2012.</li></td>
            </ul>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>STRENGHTS</strong></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
          <tr>
          <ul>
            <td width="513"><li>Creativity</li></td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Adaptability</li></td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Self Motivation</li></td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Quick Learning to new things</li></td>
            </ul>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>HOBBIES</strong></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
          <tr>
          <ul>
            <td width="513"><li>Blogging</li></td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Software Collection</li></td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Composing Songs</li></td>
            </ul>
          </tr>

        </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>PERSONAL DETAILS</strong></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
          <tr>
            <ul>
              <td width="331"><li>Father Name</li></td>
              <td width="29"><strong>:</strong></td>
              <td width="455">Shaik Shanur</td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Languages</li></td>
              <td><strong>:</strong></td>
              <td>Hindi,English,Telugu,Urdu</td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Date of Birth</li></td>
              <td><strong>:</strong></td>
              <td>02th Jan,1990</td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Marital Status</li></td>
              <td><strong>:</strong></td>
              <td>Single</td>
            </ul>
          </tr>
          <tr>
            <ul>
              <td><li>Permanent Address</li></td>
              <td><strong>:</strong></td>
              <td>Palurivari Street, Bhimavaram-534201</td>
            </ul>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td width="58%" bgcolor="#FFFFFF">Place:Bhimavaram</td>
        <td width="42%" bgcolor="#FFFFFF"><div align="right">(SK UMAR FARUK)</div></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#FFFFFF">Date:19/08/2014</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>