<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Resume in HTML</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="850" border="0" align="center">
  <tr>
    <td><table width="850" border="0" class="bor">
      <tr>
        <td height="60" colspan="2"><div align="center"><strong>ragul</strong>
  </div></td>
      </tr>
      <tr>
        <td width="48%">Email ID: ragul@gmail.com</td>
        <td width="52%"><div align="right">Contact: 9703------</div></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>CAREER OBJECTIVE</strong></td>
      </tr>
      <tr>
        <td colspan="2" style="text-indent:30px;">Aim to be placed in challenging
   organization that gives me scope to update my knowledge &amp; skills in accordance
   with the latest trends and be a part of team that dynamically works towards growth
   of organization.</td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>EDUCATIONAL PROFILE</strong></td>
      </tr>
      <tr>
        <td colspan="2"><table width="850" border="1" bordercolor="#000000">
          <tr>
            <td><div align="center"><strong>Course</strong></div></td>
            <td><div align="center"><strong>Board/University</strong></div></td>
            <td><div align="center"><strong>Educational Institutation</strong></div></td>
            <td><div align="center"><strong>Year of pass</strong></div></td>
            <td><p align="center"><strong>% of Marks</strong></p></td>
          </tr>
          <tr>
            <td>MCA</td>
            <td>Andhra University</td>
            <td><div align="left">Dr.B.V.Raju Institute of Computer Education,Bhimavaram
             </div></td>
            <td><div align="center">2013</div></td>
            <td>8.12 (CGPA)</td>
          </tr>
          <tr>
            <td>DEGREE</td>
            <td>Andhra University</td>
            <td><div align="left">DR.C.S.N PG &amp; DEGREE College,Bhimavaram</div></td>
            <td><div align="center">2010</div></td>
            <td>70%</td>
          </tr>
          <tr>
            <td>INTERMEDIATE</td>
            <td>Board of Intermediate</td>
            <td><div align="left">Sri Chaitanya Junior College,Bhimavaram</div></td>
            <td><div align="center">2007</div></td>
            <td>67%</td>
          </tr>
          <tr>
            <td>SSC</td>
            <td>Board of Secondary Education</td>
            <td><div align="left">D.N.R.E.M.H School,Bhimavaram</div></td>
            <td><div align="center">2005</div></td>
            <td>61%</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>TECHNICAL SKILLS</strong></td>
      </tr>
      <tr>
        <td colspan="2"><table width="831" border="0" align="center">
          <tr>
            <ul>
            <td width="264"><li>Operating System</li></td>
            <td width="37"><strong>:</strong></td>
            <td width="532">Windows 98, XP, 7, 8</td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Programming Languages</li></td>
            <td><strong>:</strong></td>
            <td>C,C++,J2SE,J2EE(Jsp, JSTL, Servlets, JDBC)</td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Frameworks</li></td>
            <td><strong>:</strong></td>
            <td>Struts, Spring, Hibernate</td>
           </ul>
          </tr>
          <tr>
          <ul>
            <td><li>Database</li></td>
            <td><strong>:</strong></td>
            <td>Oracle, Mysql</td>
            </ul>
          </tr>
          <tr>
          <ul>
            <td><li>IDE</li></td>
            <td><strong>:</strong></td>
            <td>Eclipse, NetBeans</td>
            </ul>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" bgcolor="#CCCCCC"><strong>PROJECT EXPERIENCE</strong></td>
      </tr>
      <tr>
        <td height="17" colspan="2" bgcolor="#FFFFFF"><table width="829" border="0"
         align="center">
          <tr>
            <ul>
              <td width="831"><li>Done main-project on<strong> &quot;OnlineGloceryStore
              &quot;</strong> using Front End java(Struts Framework) and Back End
              Oracle.</li></td>
           </ul>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td><li>Done Internship in (write your company name)</li></td>
          </tr>
          <tr>
            <td><table width="585">
              <tr>
                <td width="120"><strong>Project Title</strong></td>
                <td width="15"><strong>:</strong></td>
                <td width="434"><strong>XenServer Management on Cloud Computing</strong>
                 </td>
              </tr>
              <tr>
                <td>Team Size</td>
                <td>:</td>
                <td>13 Members</td>
              </tr>
              <tr>
                <td>Position</td>
                <td>:</td>
                <td> Team Leader</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="17" colspan="2" bgcolor="#FFFFFF"></td>
      </tr>
      <tr>
        <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="center"><strong>
         <a href="next/">NEXT PAGE</a></strong></div></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
